@charset 'UTF-8';
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
@font-face {
  font-family: "stay home 2";
  src: url(/global-files/font//stay_home_2/STAY\ HOME.otf);
}
@font-face {
  font-family: "comfortaa";
  src: url(/global-files/font/comfortaa/Comfortaa-Light.ttf);
}
@keyframes moveBanner {
  0% {
    transform: translateY(5rem) rotateY(-30deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateY(0);
  }
}
@keyframes open-layers {
  0%,
  50% {
    opacity: 0;
  }
  90% {
    opacity: 80%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes close-layers {
  0%,
  25%,
  75% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes zoom {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
:root {
  --font-pattern: "comfortaa";
  --font-title: "stay home 2";
  --gradient: linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --primary: white;
  --secondary: #f9f9f9;
  --tertiary: #f2f2f2;
  --quaternary: #4b4b4b;
  --quintenary: #0083b0;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
* a:link,
a:hover a:active,
a:visited {
  text-decoration: none;
  color: var(--primary);
}
html {
  scroll-behavior: smooth;
}
.layers {
  width: 2rem;
  height: 2.5rem;
  position: fixed;
  z-index: 10;
  right: 2rem;
  top: 2rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  cursor: pointer;
  transition: 1s;
  animation: close-layers 1.3s;
}
.layers span {
  position: absolute;
  left: 3rem;
  height: 2rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  background-color: var(--quintenary);
  color: var(--primary);
  font-family: var(--font-pattern);
  align-items: center;
  opacity: 0;
}
.layers span::before {
  content: "";
  position: absolute;
  border-right: 0.5rem solid var(--quintenary);
  border-top: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  left: -1rem;
}
.line {
  width: 100%;
  height: 0.25rem;
  background-color: var(--primary);
  box-shadow: 0.1rem 0.1rem 2px rgb(92, 92, 92);
  transition: 1.5s;
}
.show-menu .line {
  background-color: var(--quintenary);
  box-shadow: 0.1rem 0.1rem 2px rgba(92, 92, 92, 0.274);
}
.show-menu .layers {
  right: 17rem;
  animation: open-layers 1.5s;
}
.show-menu .layers:hover span {
  opacity: 100%;
  transition: 0.5s;
}
.sidebar {
  width: 20rem;
  height: 100vh;
  background-color: var(--primary);
  position: fixed;
  top: 0;
  right: -20rem;
  transition: all 1s;
  z-index: 1;
}
.show-menu .sidebar {
  right: 0rem;
}
.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-item {
  text-align: center;
  margin-bottom: 0.5rem;
}
.menu-link {
  font-family: var(--font-pattern);
  font-size: 1.5rem;
  color: var(--quaternary);
  /*transition: color 0.5s;*/
}
.menu-link:hover {
  color: var(--quintenary);
  font-size: 1.6rem;
}
.social-media {
  position: absolute;
  bottom: 1.7rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.social-media i {
  background-color: var(--quintenary);
  color: var(--primary);
  height: 2.5rem;
  width: 2.5rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.2s;
}
.social-media i:hover {
  background-color: var(--primary);
  color: var(--quintenary);
}
header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.session-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.session-header h3 {
  font-family: var(--font-pattern);
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 0.4rem;
  color: var(--quaternary);
  border-bottom: solid 3px var(--quintenary);
  margin-bottom: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}
.img-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation: zoom 25s;
}
.banner {
  position: absolute;
  top: 30%;
  left: 15%;
}
.banner h1 {
  color: var(--primary);
  text-transform: uppercase;
  text-shadow: 0.2rem 0.4rem 2px rgba(0, 0, 0, 0.4);
  line-height: 3rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-family: var(--font-title);
  font-size: 4rem;
  font-weight: 200;
  margin-bottom: 2rem;
  animation: moveBanner 1s 0.5s forwards;
}
.banner button {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-family: var(--font-pattern);
  font-size: 1rem;
  color: var(--primary);
  background: var(--gradient, --gradient-2, --gradient-3);
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  animation: moveBanner 1s 0.9s forwards;
}
.knowledge-session {
  background-color: var(--secondary);
  height: 100%;
}
.knowledges {
  background-color: var(--secondary);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(6, 6rem);
  row-gap: 6rem;
}
.knowledge.left {
  text-align: left;
}
.knowledge.right {
  text-align: right;
}
.knowledge-header {
  align-items: center;
  color: var(--quaternary);
}

.knowledge-header i {
  font-size: 3rem;
}
.knowledge-header h3 {
  font-family: var(--font-title);
  font-size: 2rem;
  padding-left: 0.5rem;
  letter-spacing: 0.1rem;
}
.knowledge-header h3,
p {
  display: inline;
}
.knowledge:nth-child(1) {
  grid-column: 4 / 7;
  grid-row: 1 / 3;
}
.knowledge:nth-child(2) {
  grid-column: 3 / 6;
  grid-row: 3 / 5;
}
.knowledge:nth-child(3) {
  grid-column: 4 / 7;
  grid-row: 5 / -1;
}
.knowledge:nth-child(4) {
  grid-column: 11 / 14;
  grid-row: 1 / 3;
}
.knowledge:nth-child(5) {
  grid-column: 12 / 15;
  grid-row: 3 / 5;
}
.knowledge:nth-child(6) {
  grid-column: 11 / 14;
  grid-row: 5 / -1;
}
.knowledge-text {
  font-family: var(--font-pattern);
  margin-top: 1rem;
}
.knowledge-img-wrapper {
  grid-column: 7/11;
  grid-row: 2/6;
  width: 100%;
}
.knowledge-img-wrapper img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.projects-session {
  background-color: var(--secondary);
}
.projects {
  display: flex;
  justify-content: space-evenly;
}
.cards {
  width: 20rem;
  height: 30rem;
  position: relative;
  padding: 0.4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
}
.card-img-wrapper {
  width: 100%;
  height: 100%;
}
.card-img-wrapper img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.card-info {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.card-info h2 {
  font-family: var(--font-title);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--quaternary);
  letter-spacing: 0.2rem;
  line-height: 1.3;
}
.card-info h3 {
  font-family: var(--font-pattern);
  font-size: 1rem;
  font-weight: 900;
  color: var(--quintenary);
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
}
.card-info p {
  font-family: var(--font-pattern);
  font-weight: 900;
  font-size: 1rem;
  color: var(--quaternary);
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 1rem;
}
.card-info.bottom button {
  margin: auto;
  display: block;
  width: 8rem;
  height: 2.5rem;
  font-family: var(--font-pattern);
  font-size: 1rem;
  text-transform: uppercase;
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083b0, #00b4db); /* W3C, IE 1;*/
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.card-info.top {
  position: absolute;
  top: 0;
  padding: 2rem;
}
.card-info.bottom {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  left: 0;
}
.cards:hover {
  background-color: var(--primary);
  transition: 0.1s;
}
.contacts-session {
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary);
}
.contacts-wrapper {
  width: 80%;
  height: 60%;
  display: flex;
  margin: auto;
  position: absolute;
  top: 25%;
  left: 10%;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}
.contacts-left {
  width: 35%;
  height: 100%;
  background-image: url(/global-files/image/e-mail.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 3rem;
}
.contacts-right {
  color: var(--quaternary);
  width: 40%;
  height: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.5rem var(--quintenary);
  border-radius: 1rem;
  background: var(--primary);
}
.contacts-right h3 {
  width: 100%;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: var(--font-title);
  color: var(--quaternary);
  text-align: center;
  line-height: 1.3;
  letter-spacing: 0.2rem;
  margin: 1rem auto;
  color: var(--quintenary);
}
.contacts-right form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  position: relative;
}
.field {
  font-size: 2rem;
  font-family: var(--font-pattern);
  background: transparent;
  width: 20rem;
  height: 1rem;
  border: none;
  outline: none;
}
.input-group #name {
  text-transform: capitalize;
}
.input-group #e-mail {
  text-transform: lowercase;
}
.input-group textarea {
  min-width: 10rem;
  max-width: 20rem;
  max-height: 3rem;
  overflow-y: auto;
  resize: none;
}
.field-label {
  position: absolute;
  top: 1rem;
  left: 0;
  font-family: var(--font-pattern);
  text-transform: capitalize;
}
.field:focus ~ label {
  top: 0;
}
.field:focus {
  border-bottom: 2px solid var(--quintenary);
}
.button-submit {
  margin: auto;
  display: block;
  width: 8rem;
  height: 2.5rem;
  font-family: var(--font-pattern);
  font-size: 1rem;
  color: var(--primary);
  text-transform: uppercase;
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083b0, #00b4db); /* W3C, IE 1;*/
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.budget-session {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--quaternary);
}
.budget-wrapper {
  width: 50%;
  height: 50vh;
  position: absolute;
  left: 5%;
  top: 25%;
  display: flex;
  background-color: var(--secondary);
  border-radius: 10px;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.5);
}
.budget-img {
  width: 40%;
  height: 100vh;
  position: absolute;
  right: 0;
  background-image: url(/global-files/image/budget-session.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 0.6;
}
.budget-wrapper h1 {
  position: absolute;
  left: 33%;
  top: 3rem;
  color: var(--quaternary);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-family: var(--font-title);
  font-size: 2rem;
  font-weight: bold;
}
.budget-wrapper form {
  width: 80%;
  margin: auto;
  margin-top: 15%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.2rem;
}
.budget-wrapper label {
  color: var(--quaternary);
  font-family: var(--font-pattern);
  font-size: 1rem;
  font-weight: bold;
}
.budget-wrapper input:focus {
  outline: none;
}
.button-submit {
  margin: auto;
  cursor: pointer;
}
.layout-budget {
  padding: 1rem;
  letter-spacing: 0.1rem;
  border: 1px solid var(--quaternary);
}

footer {
  width: 100%;
  height: 10vh;
  background-color: var(--quintenary);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.footer-content {
  width: 60%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-title);
  font-size: 1rem;
  font-weight: bold;
}
.footer-content p {
  color: var(--primary);
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin-top: 1rem;
}
.social-list ul {
  display: flex;
  margin: auto;
}
.social-list a {
  margin: 0.2rem;
}
.social-list i {
  padding: 0.2rem;
  margin: 0.5rem;
  color: var(--primary);
}
#link-top {
  width: 3rem;
  height: 3rem;
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  border-radius: 8rem;
  background: var(--quintenary);
  background: var(--gradient);
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.8);
}
