@charset 'UTF-8';
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
@font-face {
  font-family: "stay home 2";
  src: url(/global-files/font//stay_home_2/STAY\ HOME.otf);
}
@font-face {
  font-family: "comfortaa";
  src: url(/global-files/font/comfortaa/Comfortaa-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
:root {
  --font-pattern: "stay home 2";
  --font-reading: "comfortaa";
}
@keyframes close-layers {
  0%,
  25%,
  75% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.layers {
  width: 2rem;
  height: 2.5rem;
  position: fixed;
  z-index: 100;
  right: 2rem;
  top: 2rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  cursor: pointer;
  transition: 1s;
  animation: close-layers 1.3s;
}
.show-menu .layers {
  right: 17rem;
  animation: open-layers 1.5s;
}
@keyframes open-layers {
  0%,
  50% {
    opacity: 0;
  }
  90% {
    opacity: 80%;
  }
  100% {
    opacity: 100%;
  }
}
.line {
  width: 100%;
  height: 0.25rem;
  background-color: #ffffff;
  box-shadow: 0.1rem 0.1rem 2px rgb(92, 92, 92);
  transition: 1.5s;
}
.show-menu .line {
  background-color: #0083b0;
  box-shadow: 0.1rem 0.1rem 2px rgba(92, 92, 92, 0.274);
}
.layers span {
  position: absolute;
  left: 3rem;
  height: 2rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  background-color: #0083b0;
  color: #fff;
  font-family: var(--font-reading);
  align-items: center;
  opacity: 0;
}
.layers span::before {
  content: "";
  position: absolute;
  border-right: 0.5rem solid #0083b0;
  border-top: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  left: -1rem;
}
.show-menu .layers:hover span {
  opacity: 100%;
  transition: 0.5s;
}
header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.img-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation: zoom 25s;
}
@keyframes zoom {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.banner {
  position: absolute;
  top: 30%;
  left: 15%;
}
.banner h1 {
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 0.2rem 0.4rem 2px rgba(0, 0, 0, 0.4);
  line-height: 3rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-family: var(--font-pattern);
  font-size: 4rem;
  font-weight: 200;
  margin-bottom: 2rem;
  animation: moveBanner 1s 0.5s forwards;
}
.banner button {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-family: var(--font-reading);
  font-size: 1rem;
  color: #ffffff;
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  animation: moveBanner 1s 0.9s forwards;
}
@keyframes moveBanner {
  0% {
    transform: translateY(5rem) rotateY(-30deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateY(0);
  }
}
.sidebar {
  width: 20rem;
  height: 100vh;
  background-color: #f5f5f5;
  position: fixed;
  top: 0;
  right: -20rem;
  transition: all 1s;
}
.show-menu .sidebar {
  right: 0rem;
}
.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-item {
  text-align: center;
  margin-bottom: 0.5rem;
}
.menu-link {
  font-family: var(--font-reading);
  font-size: 1.5rem;
  color: #555;
  transition: color 0.5s;
}
.menu-link:hover {
  color: #0083b0;
  font-size: 1.6rem;
}
.social-media {
  position: absolute;
  bottom: 1.7rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.social-media i {
  background-color: #0083b0;
  color: white;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.2s;
}
.social-media i:hover {
  background-color: white;
  color: #0083b0;
}
.knowledge-session {
  background-color: #f5f5f5f6;
}
.session-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.session-header h1 {
  font-family: var(--font-reading);
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 0.4rem;
  color: #4b4b4b;
  border-bottom: solid 3px #0083b0;
  margin-bottom: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}
.knowledge-session {
  background-color: #fff;
  height: 100%;
}
.knowledges {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(6, 6rem);
  row-gap: 5rem;
}
.knowledge {
  text-align: center;
}
.knowledge-header {
  align-items: center;
  color: #4b4b4b;
}
.knowledge-header i {
  font-size: 3rem;
}
.knowledge-header h3 {
  font-family: var(--font-pattern);
  font-size: 2rem;
  padding-left: 0.5rem;
}
.knowledge:nth-child(1) {
  grid-column: 4 / 7;
  grid-row: 1 / 3;
}
.knowledge:nth-child(2) {
  grid-column: 3 / 6;
  grid-row: 3 / 5;
}
.knowledge:nth-child(3) {
  grid-column: 4 / 7;
  grid-row: 5 / -1;
}
.knowledge:nth-child(4) {
  grid-column: 11 / 14;
  grid-row: 1 / 3;
}
.knowledge:nth-child(5) {
  grid-column: 12 / 15;
  grid-row: 3 / 5;
}
.knowledge:nth-child(6) {
  grid-column: 11 / 14;
  grid-row: 5 / -1;
}
.knowledge-text {
  font-family: var(--font-reading);
  margin-top: 1rem;
}
.knowledge-img-wrapper {
  grid-column: 7/11;
  grid-row: 3/7;
  width: 100%;
}
.knowledge-img-wrapper img {
  object-fit: cover;
  width: 100%;
}
